@import url('https://fonts.googleapis.com/css2?family=Baloo+2:wght@400;500;600;700;800&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind height;
@tailwind typography;
@tailwind grid;
@tailwind spacing;
@tailwind layout;
@tailwind sizing;
@tailwind colors;
@tailwind flexbox;
@tailwind tables;
@tailwind components;
@tailwind tailwind;

@layer utilities {
    .border-spacing {
        border-spacing: 0 1rem;
    }
}

html {
    scroll-behavior: smooth;
    font-family: 'Baloo 2', sans-serif;
}

.h-100vh {
    min-height: calc(100vh - 3.5rem);
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active{
    -webkit-box-shadow: 0 0 0 30px rgb(23, 23, 23) inset !important;
}

input:-webkit-autofill{
    -webkit-text-fill-color: rgb(212, 212, 212) !important;
}

a[aria-current="page"] {
    box-shadow: inset 3px 0 rgb(59 130 246);
    [class*="MuiListItemText"], svg {
        color: rgb(59 130 246);
    }
}